/* Définition du Viewport */
body {
    max-width: 1400px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    padding: 0 35px 0px 35px;
  }

  /* Définitions générales */

h1, h2, h3, p {
  margin: 0px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2, label, input {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

p,
.nav-links a {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Définition du HEADER */

nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
}

.nav-link:hover {
  color: #0065FC;
  font-weight: 500;
  border-top: #0065FC solid 2px;

}

.logo-booki {
  width: 61px;
  height: 19px;
}

.header-title {
  margin: 16px 0 4px 0;
}

/* Définition du FORM */

/* Filtre par nom de la ville */

form {
  margin: 20px 0 0 0;
}

.city-search-filter {
  display: flex;
}

.ico-search-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 50px;
}

#wanted-city {
  width: 235px;
  height: 50px;
  border: solid 1px #F2F2F2;
  padding-left: 15px;
}

/* Définition de l'aspect du boutton CITY-SEARCH-SUBMIT en Desktop */

.city-search-submit-button-desktop {
  width: 135px;
  height: 50px;
  background-color: #0065FC;
  color: #FFFFFF;
  border-radius: 0 15px 15px 0;
  border: none;
}

/* Définition de l'aspect du boutton CITY-SEARCH-SUBMIT en Mobile */

.city-search-submit-button-mobile {
  font-family: FontAwesome, sans-serif;
  width: 50px;
  height: 50px;
  background-color: #0065FC;
  color: #FFFFFF;
  border-radius: 0 15px 15px 0;
  border: none;
  display: none;
}

/* Filtre par famille */

.family-links-container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 40px;
  margin-left: 30px;
}

.family-filter {
  display: flex;
  align-items: center;
  
  margin: 32px 0 0 10px;
  height: 46px;
}

.family-filter-link {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 0 15px 0 15px;
  font-size: 17px;
  font-weight: 700;
  border: solid 2px #F2F2F2;
  border-radius: 25px;
}

.family-filter-link:hover {
  background-color: #DEEBFF;
}

.family-filter i {
  padding: 5px;
  color: #0065FC;
}

/* Définition de la description du Filter dans FORM */

.filter-description {
  display: flex;
  margin: 32px 0 0 5px;
}

.filter-description-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: solid 1px #F2F2F2;
  border-radius: 25px;
  width: 26px;
  height: 26px;
  font-size: 14px;
}

.filter-description-text {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* Définition du MAIN */

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 37px;
}

/* Définition de la SECTION "Hébergements à Marseille" */

.hosting-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  height: 625px;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.hosting-card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 23px;
}

.hosting-title {
  margin: 40px 0 0 40px;
}

.hosting-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 27%;
  border: solid 5px #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
}

.hosting-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hosting-card img {
  height: 124px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.star-blue {
  color: #0065FC;
  font-size: 12px;
}

.star-grey {
  color: #F2F2F2;
  font-size: 12px;
}

.card-price-description {
  font-size: 14px;
  font-weight: 400;
}

.hosting-card-description {
  margin: 8px 0 0 15px;
}

.hosting-card-description > * {
  margin: 0 0 4px 0;
}

.hosting-show-more {
  margin: 30px 0 0 40px;
}

/* Définition du ASIDE "Les plus populaires" */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  height: 625px;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.popular-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}

.popular-hosting-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  margin: 40px 40px 0 40px;
}

.popular-hosting-title i {
 color: #0065FC;
}

.popular-card {
  display: flex;
  flex-direction: row;
  height: 135px;
  width: 78%;
  border: solid 5px #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
}

.popular-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.popular-card img {
  height: 100%;
  width: 40%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.popular-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 10px 5px 15px;
}

.popular-card-price-description {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 400;
}

/* Définition de la SECTION "Activités à Marseille" */

.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 493px;
  margin-top: 60px;
}

.activity-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.activity-card {
  display: flex;
  flex-direction: column;
  height: 445px;
  width: 22%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
}

.activity-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.activity-card img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}

.activity-card-title {
  padding: 20px;
}

/* Définition du FOOTER */

footer {
  display: flex;
  margin-top: 60px;
  padding: 45px 0 0 70px;  
  height: 175px;
  background-color: #F2F2F2;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-container a {
  margin-bottom: 12px;
}

/* Définition du RESPONSIVE */

/* Définition du RESPONSIVE pour les tablettes */

@media screen and (min-width: 768px) and (max-width: 991px) {

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 37px;
}

.hosting-container {
  width: 100%;
}

aside {
  width: 100%;
  height: 278px;
  margin-top: 53px;

}

.popular-card-container {
  flex-direction: row;
  width: 90%;
}

.popular-hosting-title {
  width: 90%;
}

.popular-card-description h3 {
  font-size: 14px;
}

.activity-container {
  height: 325px;
}

.activity-card {
  height: 267px;
}

}

/* Définition du RESPONSIVE pour les mobiles */

@media screen and (max-width: 767px) {

body {
  padding: 0;
}

form,
header h1,
header p {
  padding: 0 20px 0px 20px;
}

  /* Définition de l'aspect du boutton CITY-SEARCH-SUBMIT en MOBILE */

.city-search-submit-button-desktop {
  width: 135px;
  height: 50px;
  background-color: #0065FC;
  color: #FFFFFF;
  border-radius: 0 15px 15px 0;
  border: none;
  display: none;
  }
  
.city-search-submit-button-mobile {
  font-family: FontAwesome, sans-serif;
  width: 50px;
  height: 50px;
  background-color: #0065FC;
  color: #FFFFFF;
  border-radius: 0 15px 15px 0;
  border: none;
  display: block;
  }

/* Définition du HEADER en MOBILE */

nav {
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.nav-links {
  width: 100%;
}

.nav-link {
  width: 50%;
}

.nav-link:hover {
  color: #0065FC;
  font-weight: 500;
  border-bottom: #0065FC solid 2px;
  border-top: none;

}

/* Définition du FORM en MOBILE */

.family-filter {
  flex-direction: column;
  align-items: flex-start;
  height: 170px;
  gap: 14px;
  margin-left: 0;
}

.family-links-container {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin: 0;
}

.family-filter-link {
  padding: 0;
  font-size: 11px;
  height: 46px;
  width: 150px;
}

.family-filter-link i {
  font-size: 17px;
  margin-right: 5px;
}

/* Définition du MAIN en MOBILE */

main {
  flex-direction: column-reverse;
  align-items: center;
}

aside {
  width: 100%;
  border-radius: 0;
}

.hosting-container {
  width: 90%;
  max-width: 400px;
  border-radius: 0;
  background-color: #FFFFFF;
}

.hosting-title {
  margin: 20px;
}

.hosting-card-container {
  justify-content: space-between;
  margin: 0;
  height: 1345px;
}

.hosting-card {
  width: 100%;
}

.hosting-show-more {
  display: none;
}

/* Définition de ma SECTION Activity en MOBILE */

.activity-card-container {
  flex-direction: column;
  align-items: center;
}

.activity-card {
  width: 90%;
}


.activity-container,
footer {
  display: none;
}

}